.questionHeader{
    margin-top: 40px;
}

.jumbotron{
    height: 500px;
    width: 1300px;
    text-align: center;
    margin: 120px 120px 50px;
    background-image: url(../images/NeglectedFineDuckbillplatypus-size_restricted.gif);

}

#start{
    margin: 40px 0px 0px;
}

#next{
    margin: 40px 0px 0px;
}

#restart{
    margin: 40px 0px 0px;
}


body{
    background-image: url(../images/the_holy_grail_dock_icons_612594_img_644.png);
    color: white;
}

